body{
	font-size: 16px;
}
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
@media (max-width: 570px){
	.container {
	    padding-right: 15px !important;
	    padding-left: 15px !important;
	}
}

/** TYPO AND TITLE
===================================*/
.title-md{
	color: black;
	font-size: 28px;
	margin: 0;
	margin-bottom: 16px;
}
@media screen and (min-width: 48em){
	.title-md{
		font-size: 35px;
		margin-bottom: 20px
	}
}

.title-half-md{
	color: black;
	font-size: 22px;
	margin: 0;
	margin-bottom: 16px;
}
@media screen and (min-width: 48em){
	.title-half-md{
		font-size: 28px;
		margin-bottom: 20px;
	}
}

.title-sm, .title-aside{
	color: #000000 !important;
	font-size: 20px;
	margin: 0;
	margin-bottom: 25px;
	font-family: 'TradeGothicLTStd-bd2';
}
.title-aside{
	margin-bottom: 15px;
}



p, a{
	font-size: 16px;
}
.asterix{
	color: #ff0000;
}

/** BUTTONS AND LINKS
===================================*/
.btn-orange{
	background: none;
	border: none;
	display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
	    padding: 12px 25px 7px;
	text-align: center;
	color: white;
	font-family: 'TradeGothicLTStd';
	background-color: #ff5f01;
	text-transform: uppercase;
	font-size: 18px;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;

	    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-orange.full{
	width: 100%;
}
.btn-orange.rounded{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.btn-orange:hover{
	background-color: #2A2A2A;
	color :white;
	text-decoration: none;
}

.link-lemore{
	display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    color: #0054a6;
    transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	text-decoration: underline;
	font-size: 0.9em;
}
.link-lemore:hover{
	color: #ff5f00;
}

.text-orange{
	color: #ff5f00;
}


img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

/** SPACE
===================================*/
.space15 {
  height: 15px;
  display: block;
  width: 100%; }

.space20 {
  height: 20px;
  display: block;
  width: 100%; }

.space30 {
  height: 30px;
  display: block;
  width: 100%; }

.space45 {
  height: 45px;
  display: block;
  width: 100%; }

.space60 {
  height: 60px;
  display: block;
  width: 100%; }


/** LAYOUT
===================================*/
@media screen and (min-width: 48em){
	.row-col{
		margin-left: -15px;
	}
}
.row-col:before,
.row-col:after{
	content: '';
	display: table;
}
.row-col:after{
	clear: both;
}


*, .form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  outline: none;
}


@media screen and (min-width: 62em){
	.content-right{
		padding-left: 40px;
	}
}

/** NEW BIG INTRO 
===================================*/
.hero{
	position: relative;
	z-index: 10;
	margin-bottom: 70px;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-position: center center;
}
.hero:before{
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.hero-text{
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	margin: auto;
	color: white;
	width: 100%;
	padding: 0 20px;
	text-align: center;
	z-index: 10;

	   -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	
}
.hero-text h2{
	text-transform: uppercase;
	color: white;
	margin: 0;
	line-height: 1em;
	font-size: 40px;
}

@media screen and (max-width: 30em){
	.hero-text{
		top: 70px;
	}
	.hero-text h2{
		 font-size: 30px;
	}
}
@media screen and (min-width: 48em){
	.hero-text{
		top: 250px;
		right: 0;
		left: auto;
		max-width: 400px;
		text-align: right;
		color: white;
		padding: 0;
	}	
	.hero-text h2{
		 font-size: 50px;
	}
}


.hero .hidden-img{
	opacity: 0;
	visibility: hidden;
	text-align: center;
}


/** ADVOCAT PAGE
===================================*/
.advo-itemwrap{
	margin-top: 40px;
	overflow: hidden;
}
.advo-item{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}
.advo-item .inside{
	display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
	text-align: left;
	border: 1px solid #e2e2e2;
}
.advo-item figure{
	text-align: center;
}
.advo-item .desc{
	padding: 30px 24px;
}
.advo-item .desc h3{
	margin: 0;
	color: black !important;
	font-family: 'TradeGothicLTStd Bold';
	font-size: 25px;
	margin-bottom: 15px;
	text-transform: none;
}
.advo-item .desc  .btn-orange{
	display: block;
	margin-top: 10px;
}

@media screen and (max-width: 42em){
	.advocate, .main-content{
		padding-left: 15px;
		padding-right: 15px;
	}
	.advo-item{
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (min-width: 48em){
	.advo-item .desc  .btn-orange{
		margin-top: 40px;
	}
	.advo-item .inside{

	}
	.advo-itemwrap{
		margin-left: -15px;
	}
}

/** DIAGRAM
===================================*/
.donate-left .btn-orange{
	max-width: 335px;
}
.diagram{
	text-align: center;
	margin-top: 20px;
}

@media screen and (min-width: 48em){
	.diagram, .donate-left{
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 0;
	}
}

/** VOLUNTEER
===================================*/
.volunt-thumbwrap{
	margin-left: -15px;
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.volunteer-thumb{
	display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
	width: 100%;
	padding: 0 15px;
	margin-bottom: 15px;
	text-align: center;
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.volunteer-thumb figure{
	margin: 0;
	padding: 0;
}
@media screen and (min-width: 28em){
	.volunteer-thumb{
		width: 48%;
		padding: 0 10px;
	}
}
@media screen and (min-width: 48em){
	.volunteer-thumb{
		width: 33%;
	}
}

.volunt-item{
	margin-bottom: 15px;
	display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100%;
}
.volunt-item h3{
	margin: 0;
	margin-bottom: 15px;
	color: black !important;
	text-transform: none;
	font-family: 'TradeGothicLTStd';
	line-height: 1.3em;
	
}

.volunt-item ul li{
	display: block;
	margin-bottom: 5px;
}
@media screen and (min-width: 30em){
	.volunt-item{
		width: 45%;
		padding: 0 10px;
	}
}
@media screen and (min-width: 52em){
	.volunt-item{
		padding-left: 15px;
		padding-right: 15px;
		width: 22%;
	}
}

/** ADVOCAT DETAIL
===================================*/
.advo-detail{
	overflow: hidden;
	margin-bottom: 35px;
}
.advo-detail .content-text{
	overflow: hidden;
}
.advo-detail figure{
	text-align: center;
	margin: 0 auto 20px;
	width: 100%;
	float:  none;
}
.letter-box{
	border: 1px solid #cecece;
	    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.letter-box .inside{
		padding: 25px 20px 30px;
}
.letter-box.scroll-pane{
	height: 400px;
	overflow: auto;

}
.letter-box.scroll-pane .jspDrag{
	background: #f4f4f4;
}
.letter-box.scroll-pane .jspVerticalBar, .letter-box.scroll-pane .jspTrack{
	background: transparent;
}
@media screen and (min-width: 48em){
	.letter-box.scroll-pane{
		height: 600px;
	}
}

.letter-info .btn-orange{
	width: 100%;
	margin-top: 20px;
}
.letter-info .form-control{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.letter-info .form-control:focus{
	border: 1px solid #747474;
}
.letter-info label{
	display: block;
}
@media screen and (max-width: 768px){
	.letter-info .form-control{
		width: 100%;
	}
	.letter-info .form-group{
		width: 100%;
		margin-bottom: 15px !important;
	}
}


@media screen and (min-width: 48em){
	.advo-detail figure{
		float: right;
		margin: 0;
		text-align: right;
		margin-left: 25px;
	}
	.letter-info{
		padding-left: 15px;
	}
	.letter-box{
		margin-right: 15px;
	}
}


/** TAKE ACTION
===================================*/
.tk-actionwrap{
	text-align: center;
}
.tk-action-btn{
	display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100%;
    margin-bottom: 15px;
}
.tk-action-btn a{
	display: block;
	background: #00a1df;
	color: white;
	font: 18px 'TradeGothicLTStd-bd2';
	text-align: center;
	    padding: 18px 20px 16px;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;

}

.tk-action-btn a:hover{
	text-decoration: none;
	color: #ff5f00;
	border-color: #ff5f00;
	background: white;

}

@media screen and (min-width: 48em){
	.tk-actionwrap{
		margin-left: -10px;
	}
	.tk-action-btn{
		width: 28%;
		margin: 0;
		margin: 0 10px 15px;
	}
}
@media screen and (min-width: 62em){
	.tk-action-btn{
		width: 31%;
	}
	.tk-actionwrap{
		text-align: left;
	}
}

/** CAPITOL
===================================*/
.tabs-capNav{
	overflow: hidden;
	margin-bottom: 40px;
}
@media screen and (min-width: 62em){
	.tabs-capNav{
		margin-bottom: 70px;
	}
}

.tabs-capNav ul{
	border-bottom:3px solid #edeeef;
	display: table;
}

.tabs-capNav ul li{
	display: table-cell;
	width: 1%;
	text-align: center;
	transition : all 0.3s linear;
	-moz-transition : all 0.3s linear;
	-webkit-transition : all 0.3s linear;
}


.tabs-capNav ul li a{
	display: block;
	padding: 8px 15px;
	border-bottom: 3px solid transparent;
	margin-bottom: -3px;
	transition : all 0.3s linear;
	-moz-transition : all 0.3s linear;
	-webkit-transition : all 0.3s linear;
	text-transform: uppercase;
	font-size: 19px;
	color: #afafaf;
}
.tabs-capNav ul li.active a, .tabs-capNav ul li:hover a{
	border-bottom:3px solid #ff5f00;
	color: #ff5f00;
}

.capitol-artHeader{
	margin-bottom: 40px;
}
.capitol-artHeader .title-sm{
	margin-bottom: 15px;
}

/*====== .awards-item ======*/
.awards-item{
	overflow: hidden;
	margin-bottom: 40px;
}
.awards-item figure{
	margin: 0 auto 20px;
	max-width: 128px;
	text-align: center;
}
.awards-item .desc{
	overflow: hidden;
}

.awards-item header {
	margin-bottom: 15px;
}
.awards-item header .title-sm{
	color: #ff6000 !important;
	margin-bottom: 12px;
	text-transform: none;
	margin-bottom: 3px;
}
.awards-item header .title-sm a{
	color: #ff6000;
	font-size: 20px;
	font-family: 'TradeGothicLTStd-bd2';
}
.awards-item header .title-sm a:hover{
	color : #0054a6;
}

.awards-item header  span{
	font-family: 'TradeGothicLTStd-bd2';
	color : black;
}
@media screen and (min-width: 45em){
	.awards-item figure{
		float: left;
		margin: 0;
		margin-right: 25px;
	}
}

/** SIDEBAR
===================================*/
.article-aside{
	margin-bottom: 25px;
}


.gala-photos{
	
}
.gala-photo-item{
	display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
	width: 46%;
    padding-right: 8px;
	margin-bottom: 15px;
	transition : all 0.3s linear;
	-moz-transition : all 0.3s linear;
	-webkit-transition : all 0.3s linear;
}
.gala-photo-item:hover{
	opacity: 0.8
}
@media screen and (max-width: 62em){
	.gala-photo-item
	{
		width: 28%;
	}
}

/** DROPDOWN
===================================*/
.my-dropdwon .dropdown-toggle{
	background: none;
	border: none;
	position: relative;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefefe 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	width: 100%;
	max-width: 284px;
	font-size: 16px;
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 30px 10px 15px;
    border: 1px solid  #dbdbdb;

}
.my-dropdwon .caret{
	position: absolute;
	right: 15px;
	top: 45%;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.my-dropdwon .dropdown-menu{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	width: 100%;
	max-width: 284px;
}
@media screen and (max-width: 32em){
	.my-dropdwon .dropdown-menu, .my-dropdwon .dropdown-toggle{
		max-width: none;
	}
}

/** NAVIGATION
===================================*/
/*reseting syle on nav*/
nav#header{
	padding-top: 0;
}
#header  ul.navbar-nav{
	padding-bottom: 0 !important;
}
#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav li{
	width: auto
}
#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav li a{
	padding: 13px 15px;
	line-height: 1.3em;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}

@media screen and (min-width: 992px){
	#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav li.active a,
	#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav li:hover a{
		background: white;
		color: black;
	}
}

/*====== DROPDOWN ======*/
.navbar-nav ul {
		margin: 20px 0 0 0;
		padding: 15px !important; 
		_margin: 0; /*IE6 only*/
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		background: #ffffff;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		width: 300px;
		    box-shadow: 0px 7px 12px -2px #4E4D4D;
		    -moz-box-shadow: 0px 7px 12px -2px #4E4D4D;
		    -webkit-box-shadow: 0px 7px 12px -2px #4E4D4D;
	}
	.navbar-nav li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin-top: 0;
	}
	.navbar-nav ul ul {
		top: 0;
		left: 150px;
		margin: 0 0 0 20px;
		_margin: 0; /*IE6 only*/
		-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
		box-shadow: -1px 0 0 rgba(255,255,255,.3);
	}
	.navbar-nav ul li {
		float: none;
		display: block;
		border: 0;
		_line-height: 0; /*IE6 only*/
	}

	#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav ul li{
		display: inline-block;
		text-align: left;
		width: 48%;
		vertical-align: top;
	}
	.navbar-nav ul li:last-child {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav ul a {
		padding: 10px;
		width: 100%;
		_height: 10px; /*IE6 only*/
		display: block;
		white-space: nowrap;
		float: none;
		text-transform: none;
	}
	#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav ul a {
		color: black;
		padding: 8px 5px;
	}
	#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav ul a:hover
	{
		color: #e85e02;
	}
	.navbar-nav ul a:hover {
		background-color: #0186ba;
		background-image: -moz-linear-gradient(#04acec,  #0186ba);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
		background-image: -webkit-linear-gradient(#04acec, #0186ba);
		background-image: -o-linear-gradient(#04acec, #0186ba);
		background-image: -ms-linear-gradient(#04acec, #0186ba);
		background-image: linear-gradient(#04acec, #0186ba);
	}

@media (max-width: 991px){
	.navbar-nav ul{
		opacity: 1;
		visibility: visible;
		position: static;
		background: transparent;
		padding-left: 20px;
		width: 100%;
		 box-shadow: none;
		    -moz-box-shadow: none;
		    -webkit-box-shadow: none;
		    padding: 0 !important;
		  margin: 0;
		  margin: 15px  0 15px !important;

	}
	#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav ul li{
		display: block;
		width: 100%;
		padding-left: 20px;
	}
	#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav ul a{
		color:  white;
	}
	nav#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav,
	nav#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav li{
		text-align: left !important
	}

	nav#header .container .navbar-second-line #bs-example-navbar-collapse-1 ul.navbar-nav ul li{
		border-bottom: none !important;
	}
}


/** TABS HOMEPAGE
===================================*/
.tabs-homeNav{
	display: table;
	border-bottom: 3px solid #edeeef;
	margin-bottom: 40px;
}
.tabs-homeNav li{
	display: table-cell;
	width: 1%;
	padding: 0 15px;
	text-align: center;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tabs-homeNav li a{
	font-family: 'TradeGothicLTStd Bold';
	color: #afafaf;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	display: block;
	padding: 7px 0;
	margin-bottom: -2px;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tabs-homeNav li.active a, .tabs-homeNav li:hover  a{
	color: #ff5f00;
	text-decoration: none;
	border-color: #ff5f00;
}
@media screen and (max-width: 38em){
	.tabs-homeNav{
		width: 100%;
	}
	.tabs-homeNav li{
		display: block;
		margin-bottom: 15px;
		width: 100%;
		text-align: left;
	}
}

.link-content {
    border: 1px solid #212121;
    padding: 16px;
    padding-right: 35px;
    position: relative;
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd Bold';
    color: #212121;
    background: #fff url('../images/arrow-rt.png') 94% 50% no-repeat;
    background-size: 10px auto;
    -moz-background-size: 10px auto;
    -webkit-background-size: 10px auto;
    	    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/** VIDEO WRAPPER
===================================*/
@media screen and (min-width: 68em){
	.content-video{
		padding-right: 30px;
	}
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin-bottom: 25px;
	  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.videoWrapper object,
.videoWrapper embed, 
.videoWrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 992px){
	.review-news{
		padding-right: 30px;
	}
	.vid-side{
		margin-bottom: 0;
	}
}
.vid-side{
	margin-bottom: 50px;
}
.vid-side .link-content{
	width: 100%;
	margin-bottom: 20px;
}
.thumb-vid-side{
	text-align: center;
}

.register-action{
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 13px;
	text-align: center;
}
.register-action .btn-orange{
	    padding: 20px 20px 15px;
	font-family: 'TradeGothicLTStd Bold';
	font-size: 26px;
	line-height: 1em;
	width: 100%;
	margin-bottom: 12px;
}
.register-action p{
	font-size: 0.8em;
}

.action-wrap{
	text-align: center;
}
.action-wrap ul li{
	display: inline-block;
	width: 100%;
	 -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}

@media screen and (min-width: 48em){
	.action-wrap ul li{
		width: 32%;
	}
	.action-wrap ul li + li{
		padding: 0 10px;
	}
}
.action-wrap  .link-content{
	width: 100%;
}







/*====== JSCROLLPANEL  ======*/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
